.a1-dropdown-container  {
    background-color: #fff;
    padding: 0;
}

.a1-dropdown-container .a1-dropdown {
    display: flex;
    border-radius: 8px;
    box-shadow: 14px 27px 45px 4px rgba(112, 144, 176, 0.2);
}

.a1-dropdown-container .a1-dropdown {
    display: flex;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.a2-dropdown-component-2 {
    margin-bottom: 1rem;
}

.a2-dropdown-container  {
    background-color: #fff;
    padding: 0;
}

.a2-dropdown-container .a2-dropdown {
    display: flex;
    border-radius: 8px;
    box-shadow: 14px 27px 45px 4px rgba(112, 144, 176, 0.2);
}

.a2-dropdown-container .a2-dropdown {
    display: flex;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.a2-dropdown-component-2 {
    margin-bottom: 1rem;
}


.claim-information-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row-1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.form-column-1 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1.5rem;
}

.form-column-1  label {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    width: 30%;
    margin: 0;
    padding: 0;
}

.form-column-1 input {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    height: 1.5rem;
}

.form-row-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 5rem;
    gap: 1rem;
    margin-left: 2rem;
}

.form-column-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.form-column-2  label {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    width: 30%;
    margin: 0;

}

.form-row-2-dropdown {
    width: 70%;
    height: 0rem;
}

.form-row-2-label {
    text-align: initial;
}

.form-row-3 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    margin-left: 2rem;
}

.form-column-3 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1.5rem;
}

.form-column-3  label {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    width: 10%;
    margin: 0;
    padding: 0;
}

.form-column-3 input {
    width: 25%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    height: 1.5rem;
}

  .type-loss-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}


  .type-loss-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 5rem;
    gap: 1rem;
    margin-left: 2rem;
}

.type-loss-column-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.type-loss-column-2  label {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    width: 30%;
    margin: 0;
}

.type-loss-2-dropdown {
    width: 70%;
    height: 0rem;
}

.loss-row-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 2rem;
    gap: 1rem;
}

.loss-column-1 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1.5rem;
    padding: 0;
    margin: 0;
}

.loss-column-1  label {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    width: 30%;
    margin: 0;
    padding: 0;
}

.loss-column-1 input {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    height: 1.5rem;
}

.loss-row-3 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    margin-left: 2rem;
}

.loss-column-3 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1.5rem;
}

.loss-column-3  label {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    width: 14%;
    margin: 0;
    padding: 0;
}

.loss-column-3 input {
    width: 23%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    height: 1.5rem;
}



