.a1-dropdown-container  {
    background-color: #fff;
    padding: 0;
}

.a1-dropdown-container .a1-dropdown {
    display: flex;
    border-radius: 8px;
    box-shadow: 14px 27px 45px 4px rgba(112, 144, 176, 0.2);
}

.a1-dropdown-container .a1-dropdown {
    display: flex;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.a2-dropdown-component-2 {
    margin-bottom: 1rem;
}

.a2-dropdown-container  {
    background-color: #fff;
    padding: 0;
}

.a2-dropdown-container .a2-dropdown {
    display: flex;
    border-radius: 8px;
    box-shadow: 14px 27px 45px 4px rgba(112, 144, 176, 0.2);
}

.a2-dropdown-container .a2-dropdown {
    display: flex;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.a2-dropdown-component-2 {
    margin-bottom: 1rem;
}


.claim-information-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row-1 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.form-column-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1.5rem;
}

.form-column-1  label {
    font-weight: 700;
    font-size: 14px;
    color: #1B2559;
    white-space: nowrap;
    width: 30%;
    margin-right: 1rem;
    padding: 0;
}

.form-column-1 input {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    height: 1.5rem;
}

.form-row-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 5rem;
    gap: 1rem;
    margin-left: 1rem;
}

.form-column-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.form-column-2  label {
    font-weight: 700;
    font-size: 14px;
    white-space: nowrap;
    width: 30%;
    margin: 0;

}

.form-row-2-dropdown {
    width: 70%;
    height: 0rem;
}

.form-row-2-label {
    text-align: initial;
    color: #1B2559;
}

.form-row-3 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.form-column-3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1.5rem;
}

.form-column-3  label {
    font-weight: 700;
    font-size: 14px;
    color: #1B2559;
    white-space: nowrap;
    width: 10%;
    margin: 1rem;
    padding: 0;
}

.form-column-3 input {
    width: 25%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    height: 1.5rem;
}

  .type-loss-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}


  .type-loss-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    height: 5rem;
    gap: 1rem;
    margin-left: 1rem;
}

.type-loss-column-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.type-loss-column-2  label {
    font-weight: 700;
    font-size: 14px;
    color: #1B2559;
    white-space: nowrap;
    width: 30%;
    margin: 0;
}

.type-loss-2-dropdown {
    width: 70%;
    height: 0rem;
}

.loss-row-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    gap: 1rem;
}

.loss-column-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1.5rem;
    padding: 0;
    margin: 0;
}

.loss-column-1  label {
    font-weight: 700;
    font-size: 14px;
    color: #1B2559;
    white-space: nowrap;
    width: 30%;
    margin-right: 1rem;
    padding: 0;
}

.loss-column-1 input {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    height: 1.5rem;
}

.loss-row-3 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    margin-left: 1rem;
}

.loss-column-3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 1.5rem;
}

.loss-column-3  label {
    font-weight: 700;
    font-size: 14px;
    color: #1B2559;
    white-space: nowrap;
    width: 14%;
    margin-right: 1rem;
    padding: 0;
}

.loss-column-3 input {
    width: 25%;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    height: 1.5rem;
    transition: border-color 0.3s;
}

.loss-column-3 input:hover {
    border-color: #007bff; /* Blue border color on hover */
  }

.general-information-form {
    display: flex;
    gap: 1rem;
}

.general-information-side-1 {
    margin-left: 1rem;
    width: 50%;
}

.general-information-side-2 {
    width: 50%;
}

.general-information-column-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.general-information-column-2 label {
    font-weight: 700;
    font-size: 14px;
    color: #1B2559;
    white-space: nowrap;
    width: 30%;
    margin: 0;
}

.general-information-2-dropdown {
    width: 70%;
}

.radio-group {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .radio-container {
    position: relative;
    margin-right: 20px;
  }
  
  .radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .radio-box {
    width: 18px;
    height: 18px;
    border: 2px solid #007bff;
    border-radius: 50%; /* Make it a circle */
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .radio-label {
    display: inline-block;
    padding-left: 10px; /* Adjust spacing between box and label */
    vertical-align: middle;
    cursor: pointer;
  }
  
  .radio-input:checked + .radio-box {
    background-color: #007bff;
  }